body{
   margin:0;
   padding:0;
    text-align: center;
   background: url(../images/FEATURE-IMAGE-MORLEY-IOT-042417-V2-780x405.jpg);
   background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
   font-family: sans-serif;
    color: #fff;
}
.contact-title{
    margin-bottom: 100px;
 
}
form{
  margin-top:50px;
  transition: all 4s ease-in-out;
  color:#fff ;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline:medium;
    border-bottom: 1px solid grey;
    color:#fff ;
    font-size:18px ;
    margin-bottom: 16px;
    
    
    }
  
  
.input{
    height: 45px;
   
}

.webkit-input-placeholder{
 color:white; 
}
.ms-input-placeholder{
  color:white;
}

form .submit{
    background:#5DADE2;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height:50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color:#f44336;
    cursor: pointer;
}
.navigation ul{
    position:fixed ;
    list-style-type: none;
    right: 3%;
    top: 3%;
}

.navigation a{
	text-decoration: none;
	color: white;
	letter-spacing: 3px;
	writing-mode: vertical-rl;
	padding: 15px;
}

.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	height: 100%;
	width: 100%;
	z-index: -5;
}