body{
	margin: 0;
	padding: 0;
	background:url("../images/building.jpeg"); 
	background-size: cover;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-opacity: 0.2;
	
	
}

.overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	top:0;
	bottom:0;
	height: 100%;
	width: 100%;
	z-index: -5;
}


.loginbox{
	width: 320px;
	height: 420px;
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 10%;
	border:2px solid white;

}

.avatar{
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left:calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin:0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{

width: 100%;
margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]{
	color: #fff;
	border:none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline:none;
	height: 40px;
	font-size: 16px;
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;

}


.loginbox input[type="submit"]:hover{
	cursor:pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover{
	color: #ffc107;
}